<h1>My registered applications</h1>
<%= link_to "Create new", new_registered_application_path %>
<div>
<% @apps.each do |a| %>
  <p>
  <%= link_to a.name, registered_application_path(a) %>
  </p>
<% end %>
</div>