<!DOCTYPE html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
  </head>
  <body>
    <h1>Thanks for signing up please click the following link to complete the process</h1>
    <%= link_to "Complete sign up", confirmation_url(@user)%>
  </body>

</html>